<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="./js/jquery-3.7.1.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <script src="./js/axios-0.18.0.js"></script>
    <link rel="icon" href="image/visit.png">
</head>

<body>
    <div id="container">
        <form class="title">
            <h1 class="heading">LOGIN IN</h1>

            <p>账号:<input class="name" type="text" v-model="user.userName"></p>
            <p>密码:<input class="password" type="password" v-model="user.userPassword"></p>
            <a style="font-size: 12px;margin-left: 155px;text-decoration: underline;" href="./register.html">没有账号？去注册</a>
            <div class="button">
                <input class="button1" type="button" value="登录" @click="login()">
                <input class="button1" type="reset" value="取消">&nbsp;&nbsp;&nbsp;
            </div>
        </form>
    </div>

    <script>
        new Vue({
            el: '#container',

            methods: {
                login() {
                    axios({
                        method: "get",
                        url: "/user/login/" + this.user.userName + "/" + this.user.userPassword,
                    }).then(res => {
                        if (res.data.data != null) {
                            window.sessionStorage.setItem('userId',res.data.data.userId)
                            window.sessionStorage.setItem('userName',res.data.data.userName)
                            window.sessionStorage.setItem('userPassword',res.data.data.userPassword)
                            location.href = 'center.html'
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    })
                },
            },

            data() {
                return {
                    user: {
                        userName: '',
                        userPassword: ''
                    },
                }
            }
        })
    </script>
</body>

</html>