<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/register.css">
    <script src="./js/jquery-3.7.1.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <script src="./js/axios-0.18.0.js"></script>
    <link rel="icon" href="image/visit.png">
</head>

<body>
    <div id="container">
        <form class="title">
            <h1 class="heading">REGISTER</h1>

            <p>账号:<input class="name" type="text" v-model="user.userName"></p>
            <p>密码:<input class="password" type="password" v-model="user.userPassword"></p>
            <p>邮箱:<input class="useremail" type="email" v-model="user.userEmail"></p>
            <div class="button">
                <input class="button1" type="button" value="注册" @click="register()">
                <input class="button1" type="reset" value="取消">&nbsp;&nbsp;&nbsp;
            </div>
        </form>
    </div>

    <script>
        new Vue({
            el: '#container',

            methods: {
                register() {
                    axios({
                        method: "post",
                        url: "/user/register",
                        data: this.user
                    }).then(res => {
                        if (res.data.data != null) {
                            window.localStorage.setItem('userName',this.user.userName)
                            window.localStorage.setItem('userPassword',this.user.userPassword)
                            location.href = 'center.html'
                        } else {
                            if (res.data.data == 20011) {
                                this.$message.success("注册成功")
                            } else if (res.data.code == 20010) {
                                this.$message.info("注册失败")
                            } else {
                                this.$message.error(res.data.msg)
                            }
                        }
                    })
                },
            },

            data() {
                return {
                    user: {
                        userName: '',
                        userPassword: '',
                        userEmail: ''
                    },
                }
            }
        })
    </script>
</body>

</html>